    <div>
        <h3>Hello</h3>

        <button class="col-md-2" class="btn btn-default" ng-click="private=false" ng-class="{ 'active': private }">{{id}}</button>
        <button class="col-md-2" class="btn btn-default" ng-click="private=true" ng-class="{ 'active': private }">Private Messages</button>
        {{errorMessage}}
    </div>



    <div class="col-md-9">
        <div id="chatWindow">
            <ul ng-hide="private">
                <li ng-repeat="message in messages" >
                    <span>{{message.timestamp | date:'dd-MM HH:mm:ss'}}</span>
                    <span>{{message.nick}}: </span>
                    <span>{{message.message}}</span>
                </li>
            </ul>
            
            <ul id="messages" ng-show="private" >
                <li ng-repeat="msg in prvMessages">
                    <span class="prvtNick">{{msg.nick}} </span>
                    <span>{{msg.message}}</span>
                </li>
		    </ul>
            
        </div>
        <div>
            <textarea rows="3" ng-model="messageString" autocomplete="off" placeholder="Write message"></textarea>
            <button class="btn btn-primary" ng-click="sendMessage()" ng-hide="private">Send</button>
            <button class="col-md-2" ng-click="leaveRoom()">Leave Room</button>
        </div>
    </div>

    <div class="col-md-3">
        <h4>Ops in this room</h4>
        <div class="well">
            <ul class="list">
                <li ng-repeat="op in ops">
                    <span class="pointer">{{op}}</span>
                    <button class="asText red" ng-click="sendPrivateMessage(op)">Send Message</button>
                </li>
            </ul>
        </div>

        <h4>Users in this room</h4>
        <div class="well">	
            <ul class="list">
                <li ng-repeat="user in users">
                    <span class="pointer">{{user}}</span>
                    <span ng-cloak>
                        <div>
                        <button ng-click="kickUser(user)" ng-model="kickedUser">Kick</button>
                        <button ng-click="banUser(user)" ng-model="bannedUser">Ban</button>
                        <button class="asText red" ng-click="sendPrivateMessage(user)">Send Message</button>
                        </div>
                </span>
                </li>
            </ul>
        </div>
        
        
        
    </div>
                